

{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link href="{% static 'css/pharmacy.css' %}" rel="stylesheet">

{% endblock css %}
   


{% block body %}
<div class="container my-5 d-flex justify-content-center ">
    <h2>Madicine Order List</h2>
</div>



<div class="container d-flex align-items-center flex-column">
    
    <div class="card rounded-3 " style="width: 650px;">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <div>
                    Order Id - 20958450132
                </div>
            </div>
            <div>
                <button class="btn btn-outline-success formbutton " type="submit">View</button>
            </div>
        </div>
        <div class="card-body">
              <div class="container d-flex justify-content-around">
                  <div>
                      <p class="fw-lighter">Room No. - 405</p>
                    </div>
                    <div>
                        <p> Bed No.- 05</p>
                    </div>
            </div>
            <div class="d-flex justify-content-end">
                <footer class="blockquote-footer mt-3 mb-0 mt-3 mb-0">Dr Vivek Mishra</footer>
            </div>
            <!-- </blockquote> -->
        </div>
    </div>
    <div class="card my-2 rounded-corner" style="width: 650px;">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
            <div>
                Order Id - 20958450132
            </div>
            </div>
            <div>
                <button class="btn btn-outline-success formbutton " type="submit">View</button>
                
            </div>
        </div>
        
        
        <div class="card-body">
          <!-- <blockquote class="blockquote mb-0"> -->
              <div class="container d-flex justify-content-around">
                  <div>
                      <p class="fw-lighter">Room No. - <span class="opacity-50">405</span></p>
                    </div>
                    <div>
                        <p> Bed No.- 05</p>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <footer class="blockquote-footer mt-2 mb-0">Dr Vivek Mishra</footer>
            </div>
            <!-- </blockquote> -->
        </div>
    </div>
    <div class="card my-2 rounded-corner" style="width: 650px;">
        <div class="card-header d-flex justify-content-between">
            <div class="d-flex align-items-center">
                <div>
                    Order Id - 20958450132
                </div>
            </div>
            <div>
                <button class="btn btn-outline-success formbutton " type="submit">View</button>
                
            </div>
        </div>
        
        
        <div class="card-body">
            <!-- <blockquote class="blockquote mb-0"> -->
                <div class="container d-flex justify-content-around">
                    <div>
                        <p class="fw-lighter">Room No. - <span class="opacity-50">405</span></p>
                    </div>
                    <div>
                        <p> Bed No.- 05</p>
                    </div>
                </div>
            <div class="d-flex justify-content-end">
                <footer class="blockquote-footer mt-3 mb-0">Dr Vivek Mishra</footer>
            </div>
          <!-- </blockquote> -->
        </div>
      </div>
      <div class="card my-2 rounded-corner" style="width: 650px;">
          <div class="card-header d-flex justify-content-between">
              <div class="d-flex align-items-center">
                  <div>
                      Order Id - 20958450132
                    </div>
                </div>
            <div>
                <button class="btn btn-outline-success formbutton " type="submit">View</button>
                
            </div>
        </div>
        
        
        <div class="card-body">
            <!-- <blockquote class="blockquote mb-0"> -->
                <div class="container d-flex justify-content-around">
                    <div>
                        <p class="fw-lighter">Room No. - <span class="opacity-50">405</span></p>
                    </div>
                    <div>
                        <p> Bed No.- 05</p>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <footer class="blockquote-footer mt-3 mb-0">Dr Vivek Mishra</footer>
                </div>
                <!-- </blockquote> -->
            </div>
        </div>
        
    </div>
    
    {% endblock body %}

