{% extends 'base.html' %}
    
    {% block css %}
    {% load static %}

    <link href="{% static 'css/login.css' %}" rel="stylesheet">
    {% endblock css %}
{% block body %}

<body class="over1">
  <div class="login-page">
    <img src="{% static 'img/hospital.png' %}" alt="hospital" class="hospital1">
        <div class="form">
            <form action="{% url 'loginuser' %}" class="login-form" method="post">
              {% csrf_token %}
            <input type="text" placeholder="Email" for="email" id="email" name="email"/>
            <input type="password" placeholder="password" for="password" name="password" id="password"/>
            <button>login</button>
            <p class="message">Not registered? <a href="#">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
{% endblock body %}